DB_URL=jdbc:postgresql://localhost:5432/fightflow
DB_USER=postgres
DB_PASSWORD=dudu2009

JWT_SECRET=81y79bd919827398618d1b9u2618276109u21bn9du1t76251
JWT_ISSUER=fightflow
JWT_TTL_MINUTES=240
JWT_REFRESH_TTL_DAYS=14
JWT_REFRESH_COOKIE_SECURE=false

UPLOAD_MAX_BYTES=10485760
UPLOAD_ROOT_DIR=uploads

FINANCEIRO_DIAS_TOLERANCIA_INADIMPLENCIA=5